<script>
	import { supabase } from '$lib/supabaseClient';
	import { invalidate } from '$app/navigation';
	import { onMount } from 'svelte';
	import '../app.css';
	import { page } from '$app/stores';
	$: activeUrl = $page.url.pathname;

	onMount(() => {
		const {
			data: { subscription }
		} = supabase.auth.onAuthStateChange(() => {
			invalidate('supabase:auth');
		});

		return () => {
			subscription.unsubscribe();
		};
	});

</script>

<div class="container mx-auto p-8 max-w-6xl">
	<nav>
		<ul class="flex flex-row">
			<li class="p-2 ">
				<a href="/" class:text-blue-500 ={activeUrl === '/'}>Home</a>
			</li>

			<li class="p-2">
				<a href="/forums" class:text-blue-500={activeUrl === '/forums'}>Channel</a>
			</li>
			<!-- <li class="p-2">
				<a href="/about" class:text-blue-500={activeUrl === '/about'}>About</a>
			</li> -->
		</ul>
	</nav>
	<div class="p-2">
		<slot />
	</div>
</div>
