<script lang="ts">
	import { onMount } from 'svelte';
	import type { AuthSession } from '@supabase/supabase-js';
	import { supabase } from '$lib/supabaseClient';

	export let session: AuthSession;

	let loading = false;
	let username: string | null = null;
	let website: string | null = null;
	let avatarUrl: string | null = null;

	onMount(() => {
		getProfile();
	});

	const getProfile = async () => {
		try {
			loading = true;
			const { user } = session;

			const { data, error, status } = await supabase
				.from('profiles')
				.select(`username, website, avatar_url`)
				.eq('id', user.id)
				.single();

			if (data) {
				username = data.username;
				website = data.website;
				avatarUrl = data.avatar_url;
			}

			if (error && status !== 406) throw error;
		} catch (error) {
			if (error instanceof Error) {
				alert(error.message);
			}
		} finally {
			loading = false;
		}
	};

	async function updateProfile() {
		try {
			loading = true;
			const { user } = session;

			const updates = {
				id: user.id,
				username,
				website,
				avatar_url: avatarUrl,
				updated_at: new Date()
			};

			let { error } = await supabase.from('profiles').upsert(updates);

			if (error) throw error;
		} catch (error) {
			if (error instanceof Error) {
				alert(error.message);
			}
		} finally {
			loading = false;
		}
	}

	async function signOut() {
		try {
			loading = true;
			let { error } = await supabase.auth.signOut();
			if (error) throw error;
		} catch (error) {
			if (error instanceof Error) {
				alert(error.message);
			}
		} finally {
			loading = false;
		}
	}
</script>

<form class="form-control p-4" on:submit|preventDefault={updateProfile}>
	<div class="label-text text-4xl text-center">Update Account</div>
	<div class="pt-8 grid grid-cols-4">
		<label class="p-1 m-1" for="email">Email</label>
		<input
			id="email"
			class=" pl-6 p-1 m-1 col-span-3 input input-primary input-bordered"
			type="text"
			value={session.user.email}
			disabled
		/>
	</div>
	<div class="grid grid-cols-4">
		<label class="p-1 m-1" for="username">Name</label>
		<input
			id="username"
			class="pl-6 p-1 m-1 col-span-3 input input-primary input-bordered"
			type="text"
			bind:value={username}
		/>
	</div>
	<div class="grid grid-cols-4">
		<label class="p-1 m-1" for="website">Website</label>
		<input
			id="website"
			class="pl-6 p-1 m-1 col-span-3 input input-primary input-bordered"
			type="website"
			bind:value={website}
		/>
	</div>

	<input
		type="submit"
		class="bg-primary hover:bg-grey-700 text-white font-bold m-1 py-2 px-2 rounded-l00 btn btn-primary"
		value={loading ? 'Loading...' : 'Update'}
		disabled={loading}
	/>
	<button
		class="bg-red-500 hover:bg-red-700 text-white font-bold m-1 py-2 px-2 rounded-l00 btn btn-secondary"
		on:click={signOut}
		disabled={loading}
	>
		Sign Out
	</button>
</form>
