<script>
	import { supabase } from '$lib/supabaseClient';

	let loading = false;
	let email = '';

	const handleLogin = async () => {
		try {
			loading = true;
			const { error } = await supabase.auth.signInWithOtp({ email });
			if (error) throw error;
			alert('Successfully sent magic link to your email!');
		} catch (error) {
			if (error instanceof Error) {
				alert(error.message);
			}
		} finally {
			loading = false;
		}
	};
</script>

<form class="form-control p-4" on:submit|preventDefault={handleLogin}>
	<div>
		<div class="label-text text-4xl text-center">Authentication</div>
		<p class="py-2 text-center">Sign in via magic link with your email below</p>
		<div class="py-2">
			<input
				class="w-full pr-16 input input-primary input-bordered "
				type="email"
				placeholder="Your email"
				bind:value={email}
			/>

		</div>
		<div class="justify-center">
			<input
			type="submit"
			class="bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l00 btn btn-primary"
			value={loading ? 'Loading' : 'Send magic link'}
			disabled={loading}
			/>
			
		</div>
	</div>
</form>
